@model Library.Core.ResetPasswordViewModel

<hgroup class="title">
    <h1>Forgot Password Confirmation</h1>
</hgroup>
<div>
    <p>
        Please check your email to reset your password.
    </p>
    <p>
        <i>Normally an email would be fired off at this point, but for the intentions of this program, click on the link below that would normally be supplied with the email.</i>
    </p>
    <p>
        <a href="@Model.Token">Reset Password</a>
    </p>
</div>