<div class="generalBox">
    <p class="header">An Error has occured</p>
    <p class="text">Something went wrong while trying to change your password. Please try clicking the link again or contact support.</p>
    <br />
    <input type="button" value="Return to Login" class="btn" onclick="location.href = '@Url.Action("Login", "Account")'" />
</div>