@model Library.Core.ResetPasswordViewModel

@using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <partial name="_SharedMessage" />
    <div class="generalBox">
        <p class="header">Reset Password</p>
        <br />
        <p class="item">Email Address</p>
        <p class="subText">@Model.Email</p>
        <p class="item">New Password <span class="red">*</span></p>
        <input type="password" asp-for="NewPassword" />
        <br /><br />
        <p class="item">Confirm New Password <span class="red">*</span></p>
        <input type="password" asp-for="ConfirmPassword" />
        <br /><br /><br />
        <input type="submit" class="btn btn-default" value="Reset" />
    </div>

    <input type="hidden" asp-for="Email" />
    <input type="hidden" asp-for="UserID" />
    <input type="hidden" asp-for="Token" />
}