<div class="generalBox">
    <p class="header">Password Successfully Changed</p>
    <p class="text">You have successfully changed your password.</p>
    <br />
    <input type="button" value="Return to Login" class="btn" onclick="location.href = '@Url.Action("Login", "Account")'" />
</div>